{% extends 'factus/base.html' %}
{% load static %}

{% block title %} Facturas {% endblock title %}

    

{% block body %}

    <h1 class="mb-4">Listado de Facturas</h1>
            
    <div class="list-group">
        {% for factura in facturas %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <p class="mb-1"><strong>Número:</strong> <a href="{% url 'factura_info' factura.number %}">{{ factura.number }}</a> </p>
             
                <p class="mb-1"><strong>Código:</strong> {{ factura.reference_code }}</p>
                <p class="mb-1"><strong>Cliente:</strong> {{ factura.names }}</p>
                <p class="mb-1"><strong>Total:</strong> ${{ factura.total }}</p>
                <p class="mb-1"><strong>Estado:</strong> 
                    <span class="badge bg-danger">
                        {{ factura.status|yesno:"Activa,Inactiva" }}
                    </span>
                </p>
                <p class="mb-1"><strong>Fecha de creación:</strong> {{ factura.created_at }}</p>
            </div>
            <div class="d-flex gap-2">
                <a href="{{ factura.factura}}" target="_blank" class="btn btn-primary " title="Ver factura"><i class="bi bi-eye"></i> Ver</a>
                <a href="{{ factura.dian}}" target="_blank" class="btn btn-success" title="Descargar factura"><i class="bi bi-building-fill-check"></i> DIAN</a>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if not facturas %}
    <div class="alert alert-warning mt-4" role="alert">
        No hay facturas disponibles.
    </div>
    {% endif %}

    <!-- Paginación -->
    {% if pagination %}
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            {% for link in pagination.links %}
                {% if link.url %}
                    <li class="page-item {% if link.active %}active{% endif %}">
                        <a class="page-link" href="?page={{ link.page }}">{{ link.label }}</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">{{ link.label }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    {% endif %}

{% endblock body %}