{% extends 'factus/base.html' %}
{% load static %}

{% block title %} Ctalogo de productos {% endblock title %}
    

{% block body %}

    <h1 class="text-center mb-4">Nuestros Productos</h1>

    <div class="row g-4">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card h-100">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <span class="badge category-badge mb-2">{{ product.category.name }}</span>
                        <h5 class="card-title">
                            <a href="{% url 'product_detail' product.id %}" class="product-title">{{ product.name }}</a>
                        </h5>
                        <p class="card-text">${{product.price}}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">No hay productos disponibles</p>
        {% endfor %}
    </div>

  
{% endblock body %}


{% block script %}
    <script src=" {% static 'js/main.js' %}"></script>
{% endblock script %}
    
    