{% extends 'factus/base.html' %}
{% load static %}

{% block title %} Ctalogo de productos {% endblock title %}
    

{% block body %}

    <h1 class="text-center mb-4">Nuestros Productos</h1>

    <div class="row g-4">
        {% for product in products %}    
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card h-100">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <span class="badge category-badge">{{product.category.name}}</span>
                            <span class="badge stock-badge stock-high">{{product.stock}} disponibles</span>
                        </div>
                        <h5 class="card-title">
                            <a href="{% url 'product_detail' product.id %}" style="width: 100%" class="product-title">{{product.name}}</a>
                        </h5>
                        <p class="price">${{product.price}}</p>
                        <div class="stock-info">
                            <i class="bi bi-check-circle-fill text-success"></i>
                            <span>Envío inmediato</span>
                        </div>
                    </div>
                </div>
            </div>
         {% empty %}
            <p class="text-center">No hay productos disponibles</p>
        {% endfor %}
    </div>

  
{% endblock body %}


{% block script %}
    <script src=" {% static 'js/main.js' %}"></script>
{% endblock script %}
    
    