{% extends 'factus/base.html' %}


{% block title %}
    Product
{% endblock title %}


{% block body %}
    <div class="row">
        <div class="col-md-6">
            <img src="{{product.image.url}}" class="img-fluid rounded" alt="{{product.name}}">
        </div>
        <div class="col-md-6">
            <span class="badge category-badge mb-2">{{product.category.name}}</span>
            <h1>{{product.name}}</h1>
            <p class="fs-2 text-primary">${{product.name}}</p>
            <p class="mb-4">{{product.description}}.</p>
            <form action="{% url 'add_to_cart' product.pk %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="hidden" name="product_id" value="{{product.id}}">
                    <label for="cantidad" class="form-label">Cantidad:</label>
                    <input type="number" class="form-control" id="cantidad" name="cantidad" value="1" min="1" style="max-width: 100px;">
                </div>
                
                <button class="btn btn-primary btn-lg" onclick="window.location.href='carrito.html'">
                    Agregar al Carrito
                </button>
            </form>
        </div>
    </div>
{% endblock body %}


    