<div class="row">
    <div class="col-md-6">
        <img src="https://via.placeholder.com/600x400" class="img-fluid rounded" alt="Producto">
    </div>
    <div class="col-md-6">
        <span class="badge category-badge mb-2">Electrónica</span>
        <h1>Smartphone XYZ</h1>
        <p class="fs-2 text-primary">$599.99</p>
        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
        
        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad:</label>
            <input type="number" class="form-control" id="cantidad" value="1" min="1" style="max-width: 100px;">
        </div>
        
        <button class="btn btn-primary btn-lg" onclick="window.location.href='carrito.html'">
            Agregar al Carrito
        </button>
    </div>
</div>